* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #3b2b59;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.keyboard {
    display: grid;
    grid-template-columns: repeat(8, 1fr); /* Ajustado para 8 colunas */
    gap: 10px;
    padding: 20px;
    background-color: #4f3b71;
    border-radius: 10px;
}

button {
    width: 60px;
    height: 60px;
    font-size: 1.5rem;
    background-color: #7d63a3;
    color: #000;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #a389d4;
}

button:active {
    background-color: #5a4271;
}

.delete {
    grid-column: span 2;    /* Ocupa 2 colunas na grid */
    width: auto;            /* Permite que a largura seja ajustada conforme o grid */
}
