body {
    font-family: Arial, sans-serif; /* Define a fonte usada na página */
    text-align: center; /* Centraliza o texto */
    background-color: #1c1c2d; /* Cor de fundo suave */
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 500px; /* Define a largura máxima do container */
    margin: 100px auto; /* Centraliza o container vertical e horizontalmente */
    background-color: #b3b3d7; /* Cor de fundo branco para o container */
    padding: 20px; /* Espaçamento interno */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); /* Sombra ao redor do container */
}

h1 {
    margin-bottom: 20px; /* Espaço abaixo do título */
}

.info {
    display: flex;
    justify-content: space-between; /* Distribui igualmente os elementos nas extremidades */
    margin-bottom: 20px;
}

.question {
    font-size: 24px; /* Tamanho da fonte da pergunta */
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    justify-content: space-between; /* Distribui os botões igualmente */
}

.option {
    background-color: #6c2d91; /* Cor de fundo dos botões */
    color: white; /* Cor do texto dos botões */
    border: none; /* Remove a borda padrão dos botões */
    padding: 15px 30px; /* Define o preenchimento interno dos botões */
    font-size: 18px; /* Tamanho da fonte dos botões */
    cursor: pointer; /* Mostra o cursor de "mão" ao passar sobre o botão */
    border-radius: 5px; /* Bordas arredondadas dos botões */
    width: 45%; /* Define a largura dos botões */
}

.option:hover {
    background-color: #4d2d61; /* Cor ao passar o mouse sobre os botões */
}

#result {
    margin-top: 20px; /* Espaçamento acima do resultado */
    font-size: 18px; /* Tamanho da fonte do resultado */
}

#result.success {
    color: green; /* Cor verde para a mensagem de sucesso */
}

#result.fail {
    color: red; /* Cor vermelha para a mensagem de falha */
}
