body{
    background-color: rgb(25, 28, 53);
    color: white;
    font-family: poppinsregular;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    background-image: url('../Material/images/bgcerto.png');
  }
  
  header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #252852ca;
    border-radius: 24px;
    padding: 1.5%;
  }
  
  #title{
    flex-direction: column;
    line-height: 10px;
  }
  .title-h1{
    color: rgb(132, 14, 201);
  }
  li{
    display: inline-block;
    margin: 20px;
  }
  
  a{
    color: white;
    border: none;
    padding: 10px;
    border-radius: 15px;
    margin: 10px;
  }
  
  a:hover{
    transition: 0.3s all;
    color: rgb(132, 14, 201);
  }
  
  #inscreva-se-btn{
    border: 2px solid rgb(132, 14, 201);
    padding: 10px;
    border-radius: 15px;
  }
  
  #inscreva-se-btn:hover{
    background-color: rgb(132, 14, 201);
    color: white;
  }
  footer{
    margin-top: 50px;
    background-color: #252852ca;
    border-radius: 24px;
    padding: 10px;
  }

  footer li{
    font-weight: 500;
  }
  footer li:hover{
    color: #de3fac;
  }