.sec-container{
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
}
.ef{
    display: flex;
    flex-direction: column;
    background-color: rgba(37, 42, 81, 0.814);
    max-width: 50%;
    height: 400px;
    padding: 16px;
    border-radius: 15px;
    margin: 10px;
}
.em{
    background-color: rgba(37, 42, 81, 0.814);
    max-width: 40%;
    height: 400px;
    padding: 16px;
    border-radius: 15px;
    margin: 10px;
}
.ef a{
    max-width: 25%;
    height: 100px;
}
h4{
    text-align: center;
}