@media screen and (max-width: 760px){

    header{
        flex-direction: column;
    }

    main{
        flex-direction: column;
    }

    h2{
        font-size: 38px;
    }

    form{
        margin: 0 auto;
        width: 100%;
    }

    input{
        align-self: center;
    }

    img {
        display: block;  /* Certifica que as imagens sejam exibidas */
        height: auto;  /* Mantém a proporção das imagens */
    }

    ul{
        text-align: center;
    }
}