/*Começo do Main*/
h1{
    font-weight: 200;
}
/* Math language */
.title-h1{
    color: rgb(132, 14, 201); 
}
/* corpo do index do site */
main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

h2{
    font-size: 56px;
    line-height: 10px;
    font-family: poppinsmedium;
}

span{
    color: rgb(168, 83, 218);
}

p{
    line-height: 20px;
    max-width: 500px;
    font-family: poppinslight;
}